
  		body, html {
  			background: #000;
        font-family: "Lucida Grande", "Segoe UI", "Helvetica", "Arial", "Sans-serif";
  		}
  		#container {
  			width: 100%;
  			height: 100%;
  		}
  		#MainFrame {
  			width: 640px;
  			height: 360px;
  			margin: 60px auto;
  			background-image: url('../images/0001.jpg');
  		}
      #Counter {
        margin: 30px auto;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        color: #222;
        text-align: center;
      }

      #Shuttle {
        width: 640px;
        margin: 20px auto;
      }

      .ui-slider {
        position: relative;
        text-align: left;
        border: 1px solid #666;
        border-radius: 4px;
        height: 20px;
      }
      .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        cursor: default;
      }
      .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        background-position: 0 0;
      }

      /* For IE8 - See #6727 */
      .ui-slider.ui-state-disabled .ui-slider-handle,
      .ui-slider.ui-state-disabled .ui-slider-range {
        filter: inherit;
      }

      .ui-slider-horizontal {
        height: .8em;
      }
      .ui-slider-horizontal .ui-slider-handle {
        top: -.3em;
        margin-left: -.6em;
      }
      .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
      }
      .ui-slider-horizontal .ui-slider-range-min {
        left: 0;
      }
      .ui-slider-horizontal .ui-slider-range-max {
        right: 0;
      }

      .ui-slider-vertical {
        width: .8em;
        height: 100px;
      }
      .ui-slider-vertical .ui-slider-handle {
        left: -.3em;
        margin-left: 0;
        margin-bottom: -.6em;
      }
      .ui-slider-vertical .ui-slider-range {
        left: 0;
        width: 100%;
      }
      .ui-slider-vertical .ui-slider-range-min {
        bottom: 0;
      }
      .ui-slider-vertical .ui-slider-range-max {
        top: 0;
      }

      .ui-slider-handle {
        width: 20px;
        height: 20px;
        background-color: #666;
        border-radius: 4px;
      }